@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

body{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 62.5%;
    margin: 0rem;
    overflow-x: hidden;
   
}


.caption{

    text-align: center;
    padding: 1rem 1rem;
    background-color: bisque;
}

.image-container{
    float: left;
    margin-right: 0.2rem;
}


.hero-image{
    height: 18rem; 
    width: 30rem;
    padding: 2rem 6rem
}

.container{
    padding: 3rem 2rem;
    background-color: burlywood;

}

.sub-heading{
    text-align: center;
    font-size: large;
}

.label1{
    font-size: large;
    text-align: center;

}

#input-date{
    padding: 0.3rem 1.9rem;
    border-color:firebrick;
    margin-left: 11rem;
    cursor: pointer;
    
    
}

.label2{
    font-size: large;
    text-align: center;
}

#input-number{
    padding: 0.3rem 1rem;
    border-color:firebrick;
    margin-left: 11rem;
    cursor: pointer;

}

#btn-check{
    padding: 0.5rem 1rem;
    background-color: coral;
    color: white;
    border-radius: 0.5rem;
    border-color:firebrick;
    margin-left: 14rem;
    cursor: pointer;
}


.footer{
    padding:2rem 0rem;
    background-color:bisque;
    text-align: center;
    border-radius: 1.2rem;
}

.footer ul{
    padding-inline-start: 0px;
}

.footer .link{
    color: white;
    text-decoration: none;
    color: black;
}

.footer ul li{
    display: inline;
    text-decoration: none;
    padding: 1rem 1rem;
    font-size: 1rem;
}
.footer-header{
    font-weight: bold;
    font-size: 1rem;
    color: black;
}

.link-icon{
    padding: 0rem 0.5rem;
}

.container .notice{
    text-align: center;
    font-weight: bold;
    color: red;
    font-size: .8rem;    
}

.notice{
    display: block;
}

.cross{
    color: brown;
    cursor: pointer;
}

.sad-div{
    display: none;
    }

.sad-div p{
    text-align: center;
    font-size: large;
    font-weight: bold;
    color:rgb(49, 24, 4);
}

.sad-div img{
    margin-left: 30rem ;
    padding-bottom: 2rem;
}

.happy-div{
    display: none;
}

.happy-div p{
    text-align: center;
    font-size: large;
    font-weight: bold;
    color:rgb(49, 24, 4);
}

.happy-div img{
    margin-left: 32rem ;
    padding-bottom: 2rem;
}


@media(max-width:768px) {
    body{
        font-size: 45%;
    }

    #input-date{
        margin-left: 13rem;         
    }

    #input-number{   
        margin-left: 13rem;
    }
    #btn-check{
        margin-left: 17rem;
    }
    .caption{
        text-align: center;
    }
    .sad-div img{
        margin-left: 12rem;
        
    }
    .happy-div img{
        margin-left: 12rem;
        
    }

}


